{% set content = htmlWebpackPlugin.options.content %}

<!DOCTYPE html>
<html lang="de" dir="ltr">
<head>
  <meta charset="utf-8">
  {% block head %}
  {% endblock %}
</head>
<body>
  {% include '../partials/header.twig' %}
  <div class="main">
    {% block main %}

    {% endblock %}
  </div>
  {% include '../partials/footer.twig' %}
</body>
</html>